Question 22
In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\200608816\appdata\local\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\200608816\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\200608816\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\200608816\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\200608816\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\200608816\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import sqlite3

import pandas as pd

# connecting with database
conn = sqlite3.connect('WeatherTemp.db')

cursor = conn.cursor()
#creating weather table

create_table_query = '''

CREATE TABLE WeatherTemp (
id INT PRIMARY KEY,
recordDate DATE,
temperature INT
);
'''

In [5]:
#insert data into db

insert_data_query = '''
INSERT INTO WeatherTemp (id,recordDate, temperature)
VALUES
(1,'2015-01-01',10),
(2,'2015-01-02',25),
(3,'2015-01-03',20),
(4,'2015-01-04',30);

'''

In [7]:
#execute query
cursor.execute(create_table_query)
cursor.execute(insert_data_query)

# commit
conn.commit()
#sql query to find higher temperature  compared to previous dates

find_higher_tem_query = '''
SELECT wt.id
FROM WeatherTemp wt
WHERE temperature > (
     SELECT temperature
     FROM WeatherTemp
     WHERE recordDate = DATE(wt.recordDate, '-1 day')
     );

'''

In [9]:
#execute sql query
data = pd.read_sql_query(find_higher_tem_query, conn)
# print result
print(data)

   id
0   2
1   4